# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

FindRachel/Images.xcassets/button0.imageset/button0.png

FindRachel/Images.xcassets/button0.imageset/Contents.json

FindRachel/Images.xcassets/button1.imageset/button1.png

FindRachel/Images.xcassets/button1.imageset/Contents.json

FindRachel/Images.xcassets/button2.imageset/button2.png

FindRachel/Images.xcassets/button2.imageset/Contents.json

FindRachel/Images.xcassets/button3.imageset/button3.png

FindRachel/Images.xcassets/button3.imageset/Contents.json

FindRachel/Images.xcassets/button4.imageset/button4.png

FindRachel/Images.xcassets/button4.imageset/Contents.json

FindRachel/Images.xcassets/button6.imageset/Contents.json

FindRachel/Images.xcassets/button8.imageset/Contents.json

FindRachel/Images.xcassets/button6.imageset/button6.png

FindRachel/Images.xcassets/button5.imageset/Contents.json

FindRachel/Images.xcassets/button5.imageset/button5.png

FindRachel/Images.xcassets/button7.imageset/button7.png

FindRachel/Images.xcassets/button7.imageset/Contents.json

FindRachel/Images.xcassets/button8.imageset/button8.png

FindRachel/Images.xcassets/button9.imageset/button9.png

FindRachel/Images.xcassets/button9.imageset/Contents.json
